.venv
.vscode
*.pyc
.pytest_cache
.mypy_cache
.ipynb_checkpoints
state_dict.pt
.DS_Store
tutorials
tutorials/alessandro/data/test.ft.txt.bz2
tutorials/alessandro/data/train.ft.txt.bz2
*.egg-info
.tmp
data/experiments/**/results__*
data/experiments/**/*.json
*.zip
tutorials/neil/**/*.csv
tutorials/neil/**/*.html
tutorials/neil/**/*.pkl
tutorials/neil/**/*.mdl